<h1>Pictures</h1>
<p>Choose a picture to upload</p>
<br>
<div id="indent1">
<%= form_for (@picture), :html => {:multipart => true} do |f| %>
	<%= f.label :name, "Name:" %>
	<%= f.text_field :name %>
	<p><%= f.file_field :image %></p><br>
	<p><%= f.submit "Upload" %></p>
<% end %>
</div>